body{
	background: #999999;
}

.menu_h{
	margin-top: 15px;
	font-size: 24px;
	margin-left: 10px;
	line-height: 1em;
	font-family: courier;
}

.menu{
	margin-top: -10px;
	margin-left: 23px;
	font-family: courier;
	float: left;
	line-height: 1.6em;
	font-size: 18px;
	margin-bottom: 15px;
}

.val{
	min-width:95px;
	display: block;
	float: left;
	margin-top: 5px;
	line-height: 1em;
}

.but{
	width:70px;
	margin-left: 15px;
	border: 2px gray outset;
	border-radius: 5px;
	text-align: center;
}

.item{
	width:310px;
	border: gray 1px solid;	
	float: left;
}

.m_s{
	min-width: 100px;
	display: block;
	background:;
	float: left;
}