* {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}

hr {
	width:95%;
	height:1px;
}

.sidebar h3 a{
	color:purple;
}
.sidebar a.noboard{
	color: black;
	border:none;
	padding:0;
	margin:0;
}

/* Head */
.head_back{
	opacity: .95;
	background-size: cover;
	background-image: url(../figures/300_3.jpg);
	background-repeat: no-repeat;
	height: 225px;
}

/* Logo */
.logotext{
	width: 900px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}
.logoright{
	font: "Viner Hand ITC";
	font-size:250%;
	font-family: "Viner Hand ITC", "微軟正黑體";
	color: gold;
	width: 100%;
	height: 100%;
	line-height: 220%;
}
.logoright h1{
	line-height: 105%;
}

/* Menu */
.note{
	background-color: yellow;
	color: black;
}
.note1{
	background-color: yellow;
	color: black;
}
.menuback{
	background-color: transparent;
	width: 900px;
	height: 25px;
	margin-left: auto;
	margin-right:auto;
}
.menuback ul {
	float:right;
}
.menuback ul li {
    list-style: none;
    display:inline-block;
    text-align:center;
    width: 80px;
	height: 25px;
    color: white; 
	background-color:black;
}

.menuback ul li.thispage {
	color:white;
	//font-weight: bold;
}
.menuback a:link {
	color: #FF3300;
}
.menuback a:visited {
	color: #FF3300;
}
.menuback a:hover {
	font-weight: bold;
}
.menuback a {
}

/* Menu: Compatible part */
.menuline{
	background-color: transparent;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	height: 25px;
	float: right;
}
.menubar{
	width: 80px;
	height: 25px;
	float: right;
}
.menubar p{
	color: white; 
	//font-family: sans-serif;
	text-align: center;
	float: right;
	background-color:black;
	width: 80px;
	height: 25px;
}
.menubar p a:link{
	color: #FF3300;
}
.menubar p a:visited{
	color: #FF3300;
}
.menubar p a:hover{
	font-weight: bold;
}
.menubar p a{
	text-decoration: none;
}

.seperate{
	width: 100%;
	height: 5px;
	background-color: black;
}

/* Main */
.boarder{
	border-style: solid;
	border-width: 5px;
}

.main_back{
	background-image: url(../figures/london-ruins_70.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:100%;
	padding-bottom: 100px;
}
.content{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.main_content h3{
	font-family: "微軟正黑體";
	margin-bottom: 10px;
}
.main_content{
	vertical-align: top;
	background-color: transparent;
	display: inline-block;
	width:700px;
	padding-right:20px;
	font-size:large;
	font-family: "微軟正黑體", sans-serif;
}
.main_content a {
	color: purple;
}
.main_content h1 {
}
.main_content h2 {
	font-family: "微軟正黑體", sans-serif;
	padding: 1.4em 0 5px 0;
	font-size:1.5em;
}
.main_content h3 {
	font-family: "微軟正黑體", sans-serif;
}

.main_content p{
	//font-family: "微軟正黑體", sans-serif;
	line-height: 150%;
}
.main_content p.morespace {
	padding:1.5em 0 0 0;
}


.end_content{

	padding: 5px 0 0 0;
}


.sidebar{
	vertical-align: top;
	background-color: transparent;
	width: 170px;
	display: inline-block;
}
.sidebar p img{
	margin: 10px 0 0 0;
}

.footer{
	background-color: gray;
	width:100%;
	height:1px;
}
.end{
	background-color: gray;
	width:100%;
	height: 30px;
}
.end_content{
	text-align: center;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	height: 20px;
}
.schedule{
	line-height:200%;
}
.listout{
	margin: 0 0 0 50px;
}



#query-part #ajax-data {
	display:none;
}
#query-part #ajax-data p {
	padding-top:0;
}
#query-part #ajax-message {
	text-align:center;
	display:none;
	color:red;
	border:2px solid red;
	background-color:yellow;
	padding: 3px;
	width:200px;
	margin-left:auto;
	margin-right:auto;
}

#query-part li {
    list-style: none;
    display:block;
}
#query-part #sign-up-bu a:hover{
	text-decoration: underline;
}
#query-part #look-up-bu a:hover{
	text-decoration: underline;
}
#query-part #edit-bu a:hover{
	text-decoration: underline;
}
#query-part #upload-pic-bu a:hover{
	text-decoration: underline;
}

.form td {
	width:auto;
	padding:2px 0 2px 0;
}
.form td:first-child {
	width:20%;
}
.form td img {
	width:200px;
}
.boy{
	display:inline-block;
	font-size: 90%;
	color: #191970;
}
.girl{
	display: inline-block;
	font-size: 90%;
	color: #CD661D;
}
.wang{
	text-align: right;
	}
